@define-color rosewater #F5E0DC;
@define-color flamingo #F2CDCD;
@define-color pink #F5C2E7;
@define-color mauve #C6A0F6;
@define-color red #F28FAD;
@define-color maroon #E8A2AF;
@define-color peach #F8BD96;
@define-color yellow #FAE3B0;
@define-color green #ABE9B3;
@define-color teal #B5E8E0;
@define-color sky #96CDFB;
@define-color sapphire #91EAE2;
@define-color blue #8CAAEE;
@define-color lavender #BABBF1;
@define-color text #C6D0F5;
@define-color subtext1 #BAC2DE;
@define-color subtext0 #A6ADC8;
@define-color overlay2 #9399B2;
@define-color overlay1 #7F849C;
@define-color overlay0 #6E738D;
@define-color surface2 #5B6078;
@define-color surface1 #494D64;
@define-color surface0 #363A4F;
@define-color base #24273A;
@define-color mantle #1F2335;
@define-color crust #11111B;


* {
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    margin-right: 2px;
    margin-left: 2px;
}

window#waybar {
    background: @crust;
}

#workspaces button {
    color: @blue;
    /* padding-right: 2px; */
    padding: 0 0;
    margin: 0 0;
}

#workspaces button:hover {
    color: @mauve;
}

#workspaces button.persistent {
    color: @blue;
}

#workspaces button.empty {
    color: @surface0;
}

/* hyprland - button.active */
/* sway - button.focused */
#workspaces button.active {
    color: @sapphire;
}

#mode {
    color: #ebcb8b;
}

#custom-notifications {
    color: #42c499;
    padding: 2px 0px;
}

#custom-notifications {
    opacity: 1;
}

#clock,
#battery,
#cpu,
#memory,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#window,
#custom-launcher,
#custom-power,
#custom-pacman {
    /* padding: 0 2px; */
}

#custom-notification {
    font-family: "Meslo LGM Nerd Font";
}

#clock {
    color: @green;
}

#clock calendar {
    font-size: 20px;
}

#custom-notification {
    color: @text;
}

#backlight {
    color: @peach;
}

#battery {
    color: @yellow;
}

#battery.charging {
    color: @rosewater;
}

#battery.discharging {
    color: @red;
}

@keyframes blink {
    to {
        color: #44475a;
        background-color: #eceff4;
    }
}

#battery.critical:not(.charging) {
    background: @red;
    color: #eceff4;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    color: @sapphire;
}

#memory {
    color: @teal;
}

#network.disabled {
    color: @red;
}

#network {
    color: @green;
    min-width: 50px;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @maroon;
}

#pulseaudio.muted {
    color: @subtext0;
}

#temperature {
    color: @lavender;
}

#temperature.critical {
    color: @red;
}

#idle_inhibitor {
    color: #ebcb8b;
}

#tray {
    color: #6272a4;
}

#window {
    color: #42c499;
}

#custom-launcher,
#custom-power {
    border-style: hidden;
    margin-top: 2px;
}

#window {
    border-style: hidden;
}

#mode {}

#custom-keyboard-layout {
    color: #d08770;
}

#custom-separator {
    color: @surface1;
}
