.widget-buttons-grid>flowbox>flowboxchild>button label {
    font-size: 1.5rem;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    border-radius: 8px;
    background: #313244;
    border: 1px solid #45475a;
    box-shadow: none;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
    background: #abe9b3;
    color: #1e1e2e;
}